@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Post Comments";
	ViewData["CssFile"] = "Comments.css";
}
@model Socialify.Application.DTOs.Post.PostWithDetailsDto

<main>
	@await Html.PartialAsync("_Post", Model.Post)

    <section id="comments-section">
        <h4 class ="section-title">Comments</h4>
        @if (Model.Comments != null && Model.Comments.Any())
        {
            foreach (var comment in Model.Comments)
            {
                @await Html.PartialAsync("_Comment", comment)
            }
        }
        else
        {
            <p id="no-comments">No comments yet. Be the first to comment!</p>
		}
	</section>

    <div class="add-comment">
        <form id="comment_form" action="/Comments/AddComment" method="post">
            <input type="hidden" id="post_id" name="PostId" value="@Model.Post.Id" />
			@Html.AntiForgeryToken()
            <div class="input-group mt-3">
                <input type="text" class="form-control" id="comment_content" name="Content"
                       placeholder="Write a comment" aria-label="Write a comment" aria-describedby="button-addon2" required />
                <button type="submit" class="btn btn-primary" id="button-addon2">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </div>
        </form>
    </div>
</main>

@section Scripts{
    <script src="~/js/commentOperations.js"></script>
}
