@using Socialify.Application.DTOs.Common
@using Socialify.Application.DTOs.Post

@{
    ViewData["Title"] = "Saved Posts";
}

@model PagedResult<PostDto>

<main>
        <section class="container mx-auto my-8 px-4">
            <h4 class="section-title">Saved Posts</h4>
            @if (Model != null && Model.Data.Count() > 0)
            {
                <div id="posts-section"
                     data-total-pages="@Model.TotalPages"
                     data-page-size="@Model.PageSize">

                    @await Html.PartialAsync("_PostContainer", Model)
                </div>
            }
            else
            {
                <p class="text-gray-600">No saved posts yet.</p>
            }
        </section>
</main>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const section = document.getElementById("posts-section");

            initInfiniteScroll({
                sectionId: "posts-section",
                containerId: "posts-container",
                observerId: "observer",
                apiUrl: "/SavedPosts/LoadSavedPosts",
                queryParams: { }
            });
        });
    </script>
}
