/* profile header */
.profile-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1rem 1rem 0;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-details {
    margin-left: 1rem;
}

.profile-avatar {
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.profile-avatar-actions {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
    z-index: 2;
    transition: opacity 0.2s;
    pointer-events: none;
}

.profile-info:hover .profile-avatar-actions,
.profile-avatar-hover:focus + .profile-avatar-actions {
    opacity: 1;
    pointer-events: auto;
}

.avatar-action-btn {
    background: transparent;
    border: none;
    color: #fff;
    margin: 8px 0;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.2s;
}

    .avatar-action-btn:hover {
        color: #ffc107;
    }


/* Modern Tab Navigation */
.profile-nav .nav-link {
    font-weight: 600;
    color: var(--text-color);
    border: 0;
    border-bottom: 3px solid transparent;
    padding: 1rem;
    transition: all 0.2s ease-in-out;
}

    .profile-nav .nav-link.active,
    .profile-nav .nav-link:hover {
        color: var(--nav-active-color);
        border-bottom: 3px solid var(--nav-active-color);
        background-color: transparent;
    }

.tab-content {
    padding-top: 1.5rem;
}

.text-muted {
    color: var(--muted-text-color)
}

/* -------- Responsive Styles --------------*/

@media (max-width: 550px) {
    .profile-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem;
    }

    .profile-details {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .profile-actions {
        margin: 0.5rem auto;
    }
}