<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Socialify</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/all.min.css" />
    <link rel="stylesheet" href="~/css/Common.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Alert.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/@ViewData["CssFile"]" asp-append-version="true" />
</head>
<body>
    <header>
        <partial name="_Navbar" />
    </header>
    @RenderBody()
    <partial name="_Alert" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/theme.js" asp-append-version="true"></script>
    <script src="~/js/postOperations.js" asp-append-version="true"></script>
    <script src="~/js/infiniteScroll.js"></script>
	<script src="~/js/alert.js" asp-append-version="true"></script>
    <script src="~/js/profileActions.js" asp-append-version="true"></script>


    @await RenderSectionAsync("Scripts", required: false)
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            @if (TempData["SuccessMessage"] != null)
            {
                <text>
                    showAlert('success', 'Success!', '@TempData["SuccessMessage"]');
                </text>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <text>
                    showAlert('error', 'Error!', '@TempData["ErrorMessage"]');
                </text>
            }            
        });
    </script>
</body>
</html>
