@model IEnumerable<Socialify.Application.DTOs.Profile.ProfileBasicInfoDto>

@if(TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}
else{
    @foreach (var user in Model)
    {
        <partial name="_UserCard" model="user" />
    }
}
