<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid container">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i><b>Socialify</b></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index" aria-current="page"><i class="fa-solid fa-house"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Profile" asp-action="MyProfile"><i class="fa-solid fa-user"></i> Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Profile" asp-action="Settings"><i class="fa-solid fa-sliders"></i> Settings</a>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link" asp-controller="Notifications" asp-action="Index"><i class="fa-solid fa-bell"></i> Notifications</a>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link" asp-controller="SavedPosts" asp-action="Index"><i class="fas fa-bookmark"></i> Saved Posts</a>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link" asp-controller="Home" asp-action="Explore"><i class="far fa-compass"></i> Explore</a>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link" asp-controller="Friends" asp-action="Index"><i class="fas fa-users"></i> My Friends</a>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link" asp-controller="Friends" asp-action="Requests"><i class="fas fa-user-plus"></i> Friends Requests</a>
                </li>
                <li class="nav-item d-lg-none">
                    <a class="nav-link" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </li>
            </ul>
            <div class="search-container">
                <form asp-controller="Search" asp-action="Index" method="get">
                    <input class="form-control search-input" type="search" name="query" placeholder="Search..." aria-label="Search">
                    <button class="search-btn" type="submit" aria-label="Submit search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</nav>
