@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Socialify.Application.DTOs.Profile.ProfileBasicInfoDto

<div class="aside-bar d-none d-lg-block">
    <div class="aside-bar-container">
        <div class="card text-center user-box">
            <img src="@Model.ProfilePicUrl" class="profile-img card-img-top" alt="profile picture not found"
                 style="max-width: 100px; max-height: 100px;">
            <div class="card-body">
                <h5 class="card-title">@Model.FullName</h5>
                <a asp-action="MyProfile" asp-controller="Profile" class="btn btn-primary">View Your Profile</a>
            </div>
        </div>
        <div class="card text-center mt-4">
            <ul class="list-group list-group-flush card-list">
                <li class="list-group-item"><a asp-action="Logout" asp-controller="Account"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                <li class="list-group-item">
                    <a href="#"><i class="fa-solid fa-bell"></i> Notifications</a>
                </li>
                <li class="list-group-item"><a href="savedPosts.html"><i class="fas fa-bookmark"></i> Saved Posts</a></li>
                <li class="list-group-item"><a asp-action="Explore" asp-controller="Home"><i class="far fa-compass"></i> Explore</a></li>
                <li class="list-group-item"><a href="myFriends.html"><i class="fas fa-users"></i> My Friends</a></li>
                <li class="list-group-item">
                    <a href="friendsReq.html"><i class="fas fa-user-plus"></i> Friends Requests</a>
                </li>
            </ul>
        </div>
    </div>
</div>