@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div class="card">
        <div class="card-body">
            <form id="postForm" action="#" method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                    <textarea class="form-control" id="postContent" name="post_content" placeholder="What's on your mind?"
                              aria-label="Post content"></textarea>
                    <label class="input-group-text" for="fileInput"><i class="fas fa-upload"></i></label>
                    <input type="file" class="form-control-file d-none" id="fileInput" name="post_file"
                           aria-describedby="fileInputAddon" accept="image/*, audio/*, video/*, .pdf, .doc, .docx">
                    <br>
                </div>
                <button type="submit" class="btn btn-primary"><i class="fas fa-share"></i> Post</button>
                <span class='p-2' id="fileUploadFeedback"></span>
            </form>
        </div>
    </div>
</div>
