@using Socialify.Application.DTOs.Account
@model LoginDto

@{
    ViewData["Title"] = "Login";
    ViewData["CssFile"] = "Forms.css";
	Layout = "~/Views/Shared/_UnAuthorizedLayout.cshtml";
}

<div class="login-card">
    <div class="brand-header">
        <h1>Socialify</h1>
    </div>

    <form asp-action="Login" method="post" class="login-form">
        @Html.AntiForgeryToken()
        <div class="title"><h2>Sign in</h2></div>

        <div class="mb-2">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" id="inputEmail" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label asp-for="Password" class="form-label"></label>
            <div class="input-group">
                <input asp-for="Password" class="form-control" id="inputPassword" required type="password" />
                <span class="input-group-text" id="togglePassword" style="cursor:pointer">
                    <i class="fa-solid fa-eye" id="eyeIcon"></i>
                </span>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>


        <div class="mb-2 form-check">
            <input asp-for="RememberMe" class="form-check-input" id="inputRememberMe" type="checkbox" />
            <label asp-for="RememberMe" class="form-check-label" for="inputRememberMe">Remember me</label>
        </div>

        <button type="submit" class="btn btn-primary">Sign in</button>

        <div class="login-link">
            Don't have an account? <a asp-controller="Account" asp-action="RegisterStep1">Create one</a>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
	<script src="~/js/togglePassword.js"></script>
}