@*
    Notifications Sidebar - Displays real-time notifications
*@

<div class="aside-bar">
    <div class="aside-bar-container">
        <div class="notifications">
            <div class="notifications-header">
                <h4><i class="fa-solid fa-bell"></i> Notifications</h4>
                <a asp-controller="Notifications" asp-action="GetMyNotifications" class="view-all-link">View All</a>
            </div>
            <div class="notifications-container">
                <p class="no-notifications">Loading notifications...</p>
            </div>
        </div>
    </div>
</div>
