@using Socialify.Application.DTOs.Search
@model Socialify.Application.DTOs.Home.HomePageDto

@{

    ViewData["CssFile"] = "HomePage.css";
    var pageSize = Model.Posts.PageSize;
    var pageNumber = Model.Posts.PageNumber;
}

<div class='home-page-container'>

    @if (Model?.User != null)
    {
        @await Html.PartialAsync("_AsideBarLeft", Model.User)
    }

    <main>

        <div class="mb-3" onclick="location.href='@Url.Action("UploadPost", "Posts")'">
            <input class="form-control p-3 rounded-4" placeholder="What's on your mind?" />
        </div>        

        @if (Model?.Posts != null)
        {
            <div id="posts-section" data-page-size="@Model.Posts.PageSize" data-total-pages="@Model.Posts.TotalPages">
                @await Html.PartialAsync("_PostContainer", Model.Posts)
                <div class="text-center">
                    <a asp-action="Explore" asp-controller="Home" class="btn btn-primary">Explore More</a>
                </div>
            </div>
        }
        else
        {
            <div class="card post-card p-4">
                <h5>No posts available</h5>
                <p>Check back later for new posts!</p>
            </div>
        }
    </main>

    @await Html.PartialAsync("_AsideBarRight")
</div>


@section Scripts {

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            initInfiniteScroll({
                sectionId: "posts-section",
                containerId: "posts-container",
                observerId: "observer",
                apiUrl: "/Posts/LoadRelevantPosts"
            });
        });
    </script>

    }

